{% from beach_handler import BeachTime %}
<html>
  <head>
    <title>Beach Houses</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <script src="static/lozad.js"></script>
    <script src="static/util.js"></script>
    <link href='static/style.css' rel='stylesheet' />
  </head>
  <body onload="load_next_page()">
    <div id="header">
      <div id="house_count">{{ house_count }} houses found <img src="static/loading.gif" id="loading-indicator"/></div>
      <div id='map' class="map"></div>
      <div id="search_params">
        <form>
          <div>
            <select name="sort">
              <option value="" {% if sorted_by is None %}selected="selected"{% end %}>sort by none</option>
              <option value="cost" {% if sorted_by == "cost" %}selected="selected"{% end %}>sort by cost</option>
              <option value="beds" {% if sorted_by == "beds" %}selected="selected"{% end %}>sort by bedrooms</option>
            </select>

            <select name="4x4">
              <option value="" {% if four_by_four is None %}selected="selected"{% end %}>search all territories</option>
              <option value="false" {% if four_by_four and four_by_four.lower() == "false" %}selected="selected"{% end %}>exclude 4x4</option>
              <option value="true" {% if four_by_four and four_by_four.lower() == "true" %}selected="selected"{% end %}>include only 4x4</option>
            </select>
            <select name="oceanfront">
              <option value="true" {% if oceanfront and oceanfront.lower() == "true" %}selected="selected"{% end %}>oceanfront only</option>
              <option value="false" {% if oceanfront is None or oceanfront.lower() == "false" %}selected="selected"{% end %}>all homes</option>
            </select>
          </div>

          <div>
            start date:
            <input type="text" name="start_date" value="{{start_date or ""}}" placeholder="yyyy-mm-dd" class="date_input"/>
            end date:
            <input type="text" name="end_date" value="{{end_date or ""}}" placeholder="yyyy-mm-dd" class="date_input"/>
             (yyyy-mm-dd)
          </div>

          <div>
           gps latitude:
           <input type="text" name="nearby_lat" value="{{nearby_lat or ""}}" placeholder="" class="gps_input"/>
           gps longitude:
           <input type="text" name="nearby_long" value="{{nearby_long or ""}}" placeholder="" class="gps_input"/>

           <br/>
           <input type="submit" value="search beach houses" id="submit_button"/>
         </div>
        </form>
      </div>
      <div id="saved_searches">
        Saved searches:
        <a href="?">view all houses</a>

        <a href="?sort=beds&oceanfront=true&4x4=false">search oceanfront, no 4x4, sort by beds</a>

        <a href="?sort=beds&oceanfront=true&4x4=false&start_date=2019-06-01&end_date=2019-08-01">search oceanfront, no 4x4, sort by beds, just summer 2019</a>
      </div>
      <div id="realty_list">
        (Currently searching: {{", ".join(rental_agencies)}}.)
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Agency</th>
          <th>Photo</th>
          <th>Name</th>
          <th>Location</th>
          <th>Oceanfront</th>
          <th>Highest Cost</th>
          <th>Capacity</th>
          <th>Cost per bed</th>
          <th>Link</th>
          <th>Last updated from rental agency</th>
          {% for arrival_date in arrival_dates %}
          <th>
            {{ datetime.datetime.fromtimestamp(BeachTime.seconds_since_2000() + arrival_date).strftime("%b %-d, %Y") }}
          </th>
          {% end %}
        </tr>
      </thead>
      <tbody id="tbody">
        {% for house in houses %}
          <tr>
            {% block house %}
              <td>{{ house.get("rentalAgency", "") }}</td>
              <td>
                {% if house.get("images") %}
                <a href="{{ house.get("images")[0] }}" target="_blank"><img data-src="{{ house.get("images")[0] }}" class="lozad"/></a>
                {% end %}
              </td>
              <td>{{ house["name"] }}</td>
              <td>
                {{ house.get("regionName", "??") }}
                [<a href="http://maps.google.com/?q={{ house.get("latitude", "") }},{{ house.get("longitude", "") }}" target=_blank>map it</a>]
                [<a href="?nearby_lat={{ house.get("latitude", "") }}&nearby_long={{ house.get("longitude", "") }}">nearby</a>]
              </td>
              <td><div class="oceanfront">{% if house.get("oceanfront") %} 🏖 {% end %}</div></td>
              <td>${{ house.get("maxRate", "?") }}</td>
              <td>{{ house.get("bedrooms", "?") }} bed / {{ house.get("bathrooms", "?") }} bath</td>
              <td>${{ round(house.get("maxRate", 0) / house.get("bedrooms", 1)) }}</td>
              <td><a href="{{ house.get("url", "") }}" target=_blank>{{ house.get("url", "")[:50] }}&hellip;</a></td>
              <td>{{ datetime.datetime.fromtimestamp(BeachTime.seconds_since_2000() + house.get("updatedOn")).strftime("%b %-d, %Y") }} </td>

              {% if house.get("availability") %}
                {% for arrival_date in arrival_dates %}
                  <td>
                    {% for availability in house.get("availability") %}
                      {% if availability.get("isAvailable") and (availability.get("arrivalDate") == arrival_date) or (availability.get("arrivalDate") - 86400 == arrival_date) or (availability.get("arrivalDate") + 86400 == arrival_date) %}
                        {% if availability.get("totalCost") %}
                          ${{ round(availability.get("totalCost")) }}
                        {% else %}
                          <div class="unknown_cost">Not set</div>
                        {% end %}
                        {% break %}
                      {% end %}
                    {% end %}
                  </td>
                {% end %}
              {% end %}
            {% end %}
          </tr>
        {% end %}
      </tbody>
    </table>
  </body>

  <script type="text/javascript">
    {% if nearby_lat and nearby_long %}
      mapboxgl.accessToken = 'pk.eyJ1IjoidG9sYXIiLCJhIjoiY2luMXVndGw1MGI0cHdibHU1OXFtMGxkNyJ9.89FDP3XpLOwyWxmU-OA1Kw';
      var map_center = [{{nearby_long}}, {{nearby_lat}}];
      var map_style = 'mapbox://styles/mapbox/satellite-streets-v10';
      var map = new mapboxgl.Map({container: 'map', style: map_style, center: map_center, zoom: 13.5});

      function addHouseMarker(lat, long, name, url) {
        var popup = new mapboxgl.Popup()
          .setLngLat([long, lat])
          .setHTML("<a href='" + url + "' target=_blank>" + name + "</a>");
        var marker = new mapboxgl.Marker()
          .setLngLat([long, lat])
          .setPopup(popup)
          .addTo(map);
      }

      {% for house in houses %}
          addHouseMarker(
            {{house.get("latitude", "")}},
            {{house.get("longitude", "")}},
            "{{ house["name"] }}",
            "{{ house.get("url", "") }}"
          );
      {% end %}
    {% else %}
      document.getElementById("map").style.display = "none";
    {% end %}

    const observer = lozad(); // lazy loads elements with default selector as ".lozad"
    observer.observe();

    var page = {{ page }};
    
    function load_next_page() {
      var url = window.location
      if (url.toString().indexOf("?") !== -1) {
        url += "&"
      } else {
        url += "?"
      }
      page = page + 1
      url += "json=1&page=" + String(page)
      // console.log("url = " + url)
      var completion = function(raw_data){
        var results = JSON.parse(raw_data)
        houses = results["houses"]

        if(houses.length > 0) {
          var buffer = ""
          for (var i=0; i < houses.length; i++) {
            var h = houses[i]
            // add_house(h)
            var html = get_house_row(h)
            buffer += html
          }
          document.getElementById("tbody").innerHTML += buffer
          observer.observe();
          
          load_next_page()
        } else {
          document.getElementById("loading-indicator").style.display = "none";
        }
      }
      loadRemoteDoc(url, completion)
    }
  </script>
</html>
